.toolbar {
    position: absolute;
    left: 0;
    right: 0;
    height: 100px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-left: 10px;
    padding-right: 10px;
    background: transparent;
  }

.spacer {
    flex: 1;
  }

img {
    padding-right: 10px;
}

.content {
    padding-right:  10px;
}