<div class="bg">
    <webpage-header [theme]="'default'" [pageName]="'JP GALERA'" [headerContents]=contents></webpage-header>
    <h1> Hi, I'm <span class="myName"> JP </span>.</h1>
    <h2 class="job-title"> FullStack Developer. </h2>
    <p class="intro"> I enjoy building scalable products and applications <br> writing clean, elegant and efficient code.</p>
    <div class="me">
        <img
        height="100%"
        width="60%"
        alt="Me Logo"
        src="../../assets/343703227_148501281397648_5396772653488691431_n-removebg.png"
        />
    </div>
    <div class="extraInfo">      
        <p  class="extraInfo1">A full stack engineer with a <br> 
        passion for problem-solving and clear <br>
        , concise code.
        </p>
        <p class="extraInfo2">Over 5 years experience <br> 
            building products for clients across <br>
            several countries.
        </p>
    </div>

</div>    
